/* Variable ============================== */

:root
{
    --main-bg-color: #C47254;
    --title-color: #CD5D1E;
    --subtitle-color: #F35800;
    --high-bg-color: #FD9142;
    --secondary-bg-color: #FAA593;
    --basic-color: #EDEDED;
}


/* Dker Poster font */
@font-face {font-family: "Dker"; src: url("//db.onlinewebfonts.com/t/3909e56c973d5ca300b192de3a05d32d.eot"); src: url("//db.onlinewebfonts.com/t/3909e56c973d5ca300b192de3a05d32d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3909e56c973d5ca300b192de3a05d32d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3909e56c973d5ca300b192de3a05d32d.woff") format("woff"), url("//db.onlinewebfonts.com/t/3909e56c973d5ca300b192de3a05d32d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3909e56c973d5ca300b192de3a05d32d.svg#Dker") format("svg"); } 

/* ======================================= */

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Nunito', sans-serif; /*Tahoma, Geneva, Verdana, sans-serif;*/
}

h1, h2, h3 
{
    font-family: 'Dker';
    font-weight: 500;
}

h1 
{
    color: var(--title-color);
    font-size: 40px;
}

h2 
{
    color: var(--subtitle-color);
    font-size: 30px;
}

p 
{
    font-family: 'Caveat';
    font-size: 23px;
}

.footer
{
    background-color: var(--main-bg-color);
    height: 40vh;
    width: 100%;

    margin-top: 5rem;

}

.location-text 
{
    width: 40%;
}

.location-text h1
{
    color: white;

}

.location-text p 
{
    margin-top: 1rem;
    width: 400px;
    color: white;
    margin-left: 6rem;
}

/* Map ============================ */
#map {
    height: 40vh;
    width: 30%;
  }

.footer .warpper
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .warpper .title 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .warpper .title img
{
    margin-right: 2.5rem;
}

  /* =============================== */

/* NavBar ========================= */
nav 
{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: white;
    min-height: 80px;

    z-index: 3;
}

nav ul
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

nav li 
{
    margin: 0 2rem;
    width: max-content;
}

nav .active a
{
    color: var(--high-bg-color);
}

nav .active
{
    transition: 0.2s;
    border-bottom: 3px solid var(--high-bg-color);
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: bold;
}

.burger {
    display: none;
    margin-left: 3%;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--high-bg-color);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ===================================== */


/* Bouton ============================== */
.bouton-rdv 
{
    transition: 0.5s;
    background: var(--high-bg-color);
    width: max-content;
    height: max-content;
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.3));
    cursor: pointer;
}

.bouton-rdv:hover 
{
    filter: none;
}

.bouton-rdv a 
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* ===================================== */

@media (max-width: 1300px)
{
    .location-text 
    {
        width: 60%;
    }
    .footer
    {
        width: 100%;
    }
}


@media (max-width: 1000px)
{
    h1
    {
        font-size: 30px;
    }
    h2
    {
        font-size: 20px;
    }
    p
    {
        font-size: 20px;
    }
}

@media (max-width: 900px)
{
    .footer
    {
        height: max-content;
        padding: 2rem 0;
        margin-top: 5rem;
    }

    .footer .warpper
    {
        flex-direction: column;
    }

    .location-text 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
    }


    #map {
        height: 40vh;
        width: 70%;
      }
}