body
{
    overflow-y: hidden;
}


/* Slide Effect ======================== */
.container
{
    flex-direction: column;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.child
{
    padding-top: 80px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ===================================== */



.notre-cabinet, .qui, .echo, .actu
{
    height: 100vh;
    width: 100%;
}


/* [SEC]Notre Cabinet ================== */
.notre-cabinet 
{
    background: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.resum-text 
{
    position: relative;
    left: 530px;
    top: 200px;

    height: 450px;
    width: 410px;

    padding: 2rem 0 1rem 3rem;

    background-color: var(--basic-color);
    z-index: 2;
}


.resum-text h1
{
    margin-bottom: 1.5rem;
}

.resum-text p 
{
    width: 87%;
}

.resum img
{
    width: 710px;
    position: relative;
    left: 770px;
    bottom: 50px;
}
/* ===================================== */


/* [SEC]Qui ============================ */
.qui
{
    background: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.qui h1
{
    padding-left: 20%;
    padding-top: 3rem;
}


.wrapper-cards
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.profil-card
{
    position: relative;
    background-color: var(--basic-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4rem 7rem;
    
}

.profil-card:nth-child(1)
{
    margin-right: 5%;
}

.profil-card .content 
{
    margin-left: 10%;
}

.profil-card p 
{
    width: 400px;
    margin: 3rem 0;
}

/* ===================================== */

/* [SEC]Echo ============================ */

.echo 
{
    background: url(../img/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.echo h1 
{
    padding-left: 10%;
    padding-bottom: 8rem;
}

.echo h2 
{
    padding-bottom: 4rem;
}

.echo p 
{
    font-size: 25px;
    width: 70%;
}

.echo ul 
{
    padding-left: 15px;
}

.echo li 
{
    margin: 1.5rem 0;
}

/* ===================================== */




/* Responsive */
@media (max-width: 1400px) 
{
    .navbar 
    {
        padding-left: 0;
    }

    .resum img
    {
        display: none;
    }

    .resum
    {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .resum-text
    {
        position: static;
    }
}

@media (max-width: 1300px) 
{
    /* [SEC] Qui ======================== */

    .qui h1
    {
        padding-left: 10%;
    }

    .wrapper-cards
    {
        flex-direction: column;
        width: 100%;
        height: max-content;
    }

    .qui
    {
        height: max-content;
        margin-bottom: 5rem;
    }

    .profil-card:nth-child(1)
    {
        margin-right: initial;
    }

    .profil-card
    {
        margin: 2rem 0;
    }
    /* ================================ */
}


@media (max-width: 1000px)
{
    .echo p 
    {
        font-size: 20px;
    }
}

@media (max-width: 900px)
{
    body
    {
        overflow-y: initial;
    }

    .container 
    {
        scroll-snap-type: initial;
        overflow-y: initial;
        scroll-behavior: initial;
    }

    .resum-text 
    {
        width: 100%;
    }




    /* [SEC]Echo ============================ */
    .echo h1
    {
        padding-left: unset;
    }
    .echo 
    {
        margin-bottom: 4rem;
    }

    /* ================================ */


    .qui
    {
        margin-bottom: 7rem;
    }
} 